
	<h1>Crea una nueva lista</h1>

	<%= render 'form', list: @list %>
	 
		

		<% @created_lists.last(5).each do |cookies| %>
			<%= link_to cookies, cookies, class:"btn btn-link" %>
			<br>
		<% end %>



