<br>

	<div class="container">
		<h1>Crea una nueva lista</h1> <br>
		<%= render 'form', list: @list %>
	</div>

<br><br>
	<div class="container">
		<% if !@lists.empty? %>
			<p><strong> Creadas recientemente </strong></p>
			<% @lists.last(5).each do |cookies| %>
			<%= link_to cookies, cookies, class:"btn btn-link" %>
			<br>
		<% end %>
		<% end %>
	</div>	



