
<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @task.state %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @task.progress %>
</p>


def to_ul 
  "#{self.description} </p> <p>  <strong>Estado:</strong> #{self.state}  <strong>Progreso:</strong> #{self.progress}"
 end 
