<!DOCTYPE html>
<html>
  <head>
    <title>ToDoList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-light bg-faded">
      <a href="#" class="navbar-brand"> TODO LIST</a>
      <div class="nav navbar-nav">
      </div>
    </nav>

    <div class="container">

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
        <br>
          <%= yield %>
        </div>
    </div>
    </div>
  </body>
</html>
     
 